<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tudok.mystuder">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tudok.mystuder.activity.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tudok.mystuder.activity.MainActivity" />
        </activity>
        <activity android:name="com.tudok.mystuder.activity.AddClassActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tudok.mystuder.activity.ScheduleActivity" />
        </activity>
        <activity android:name="com.tudok.mystuder.activity.ScheduleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tudok.mystuder.activity.MainActivity" />
        </activity>
        <activity android:name="com.tudok.mystuder.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tudok.mystuder.activity.SettingsActivity" />
        <activity android:name="com.tudok.mystuder.activity.AddGradeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tudok.mystuder.activity.SubjectsActivity" />
        </activity>
        <activity android:name="com.tudok.mystuder.activity.AddSubjectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tudok.mystuder.activity.SubjectsActivity" />
        </activity>
        <activity android:name="com.tudok.mystuder.activity.SubjectsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tudok.mystuder.activity.MainActivity" />
        </activity>


        <receiver android:name="com.tudok.mystuder.notification.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.tudok.mystuder.notification.NotificationReceiver"/>

        <service
            android:name="com.tudok.mystuder.notification.MyService"
            android:enabled="true"
            android:exported="true"></service>

    </application>



</manifest>